.cus-size {
    width: 650px;
    height: 650px;
}

.multi-img-details {
    margin: .5em 0;
    padding: 0;
    list-style: none;
}

.multi-img-details .multi-item {
    max-height: 100px;
    max-width: 100px;
    position: relative;
    float: left;
    margin-right: 18px;
    margin-bottom: .5em;
}
.delMultiImage, .delImage {
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(255, 0, 0, 0.4);
    border-radius: 4px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-style: normal;
    color: #FFF !important;
    font-size: 14px;
    opacity: 1 !important;
    transform: all .3s;
}

.cus-img {
    width: 100px;
    height: 100px;
    padding: 0 !important;
}